langchain[groq]
langgraph
langchain-text-splitters
langchain_community
wikipedia
python_dotenv
beautifulsoup4
requests
pypdf
faiss-cpu
sentence-transformers
huggingface_hub

# curso Udemy
transformers
einops
accelerate # simplificar o treinamento e a implementação de modelo em diferentes tipos de hardwares
bitsandbytes # LLMs acessíveis por meio de quantização
