langchain[groq]
langgraph
langchain-text-splitters
langchain_community
langchain-huggingface
langchain-qdrant
langchain-google-genai
langchain-chroma
wikipedia
python_dotenv
beautifulsoup4
requests
faiss-cpu
sentence-transformers
huggingface_hub
bitsandbytes
accelerate>=0.26.0
# extração PDF toolkit.py
llama-index
pypdf
qdrant-client
streamlit
# llamafile
llama-cpp-python
